In [3]:
import pandas as pd

df = pd.DataFrame({'ISIN': ['US0378331005', 'CH0038863350', 'DE0007164600'],
            'Country': ['United States', 'Switzerland', 'Germany'], 'ETF': ['A', 'B', 'C']})

df2 = pd.DataFrame({'ETF': ['A', 'B', 'C'],
            'Country': ['United States', 'Switzerland', 'Belgium'],
            'Category': ['cat1','cat2', 'cat3']})

In [4]:
df

           ISIN        Country ETF
0  US0378331005  United States   A
1  CH0038863350    Switzerland   B
2  DE0007164600        Germany   C

In [5]:
df2

  ETF        Country Category
0   A  United States     cat1
1   B    Switzerland     cat2
2   C        Belgium     cat3

In [20]:
x = pd.merge(df, df2, on=["Country", "ETF"], how="left
             ")

SyntaxError: EOL while scanning string literal (<ipython-input-20-409f467215a1>, line 1)

In [19]:
x

           ISIN        Country ETF Category
0  US0378331005  United States   A     cat1
1  CH0038863350    Switzerland   B     cat2
2           NaN        Belgium   C     cat3

In [12]:
x = pd.merge(df, df2, on=["Country", "ETF"], how="left").fillna("")
print(x)

           ISIN        Country ETF Category
0  US0378331005  United States   A     cat1
1  CH0038863350    Switzerland   B     cat2
2  DE0007164600        Germany   C